{
  "extends": "@antfu",
  "rules": {
    "no-console": "warn",
    "curly": "off",
    "vue/component-tags-order": [
      "error",
      { "order": ["script", "template", "style"] }
    ],
    "vue/max-attributes-per-line": "error"
  }
}
